.history-grid-container {
  padding: 20px;
  border-radius: 16px;
  margin-top: 20px;
  border: 2px solid #f8af84;
}

.envelopes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5 quadratini per riga */
  gap: 4px;
  margin: 0 auto;
}

@media screen and (min-width: 250px) {
  .envelopes-grid {
    grid-template-columns: repeat(5, 1fr); /* Tre colonne su desktop */
  }
}

@media screen and (min-width: 425px) {
  .envelopes-grid {
    grid-template-columns: repeat(7, 1fr); /* Tre colonne su desktop */
    gap: 6px;
  }
}

@media screen and (min-width: 768px) {
  .envelopes-grid {
    grid-template-columns: repeat(10, 1fr); /* Tre colonne su desktop */
    gap: 12px;
  }
}

.envelope-box {
  position: relative; /* Indispensabile per posizionare la X */
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.6rem;
  transition: transform 0.2s ease;
  border: 1px solid #8d837d;
}

/* Mostra la X quando passi sopra alla busta APERTA */
.envelope-box.opened:hover .delete-btn {
  opacity: 1;
}

/* Busta CHIUSA: stile neutro */
.envelope-box.closed {
  background-color: #fff8f2;
  color: #8d837d; /* Colore sabbia/tan per il numero */
}

/* Busta APERTA: stile colorato (come il 12, 25, 48 della tua foto) */
.envelope-box.opened {
  cursor: pointer;
  background-color: #e8a593; /* Il colore #D2691E che hai nel JSON */
  border-color: #e8a593;
  color: #fff8f2;
  box-shadow: 0 4px 10px rgba(210, 105, 30, 0.2);
}

.envelope-box.opened:hover {
  background-color: #fceede;
  border-color: #e8a593;
  color: #e8a593;
}

.envelope-box:active {
  transform: scale(0.95);
}

.delete-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  /* Usiamo i tuoi colori o fallback se le variabili non sono caricate */
  background: #8d837d; 
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 10;
  opacity: 0; /* Nascosta di default */
  transition: opacity 0.2s ease-in-out, transform 0.2s;
}

.delete-btn:hover {
  background: #d32f2f; /* Rosso per il pericolo */
  transform: scale(1.2);
}
